<!DOCTYPE html>
<html lang="uk">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>

        <header class="text-center mt-3 mb-2 fs-2" style="display: flex; justify-content: center; gap: 40px;">
            <p><a href="/">CarShop</a> - Магазин автомобілів</p>
            <a href="/cart/">
                {% if request.cart %}
                	Кошик: {{ request.cart.count }} авто
                {% else %}
                    Кошик порожній
                {% endif %}
            </a>
        </header>

        <div class="text-center mb-5">
            {% if request.user.is_authenticated %}
                Ви увійшли, як - <b>{{ request.user }}</b>
                <a href="{% url 'orders' %}" class="px-3">Історія замовлень</a>
                <a href="{% url 'account_logout' %}" class="px-3">Покинути</a>
            {% else %}
                <a href="{% url 'account_login' %}">Вхід</a>
                <a href="{% url 'account_signup' %}">Реєстрація</a>
            {% endif %}
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>