{% extends 'base.html' %}

{% block content %}

    <h2 class="mb-5 fs-4">Оберіть диллера зі списку</h2>

    <div class="row">
        {% for dealership in dealerships %}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ dealership.name }}</h5>
                        <a href="/dealership-{{ dealership.id }}/" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}